* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a, button {
    cursor: pointer;
    color: inherit;
    border: none;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('../img/fundo2.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: var(--fundo);
    color: var(--cinza);
    font-family: "Faculty Glyphic", sans-serif;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
